[Unit]
After=network.target

[Service]
Restart=always
User=radiosnek
WorkingDirectory=/home/radiosnek/radiosnek
Environment="TOKEN=XXXXXXXXXXXXXXXX"
ExecStart=/usr/bin/env node index.js

[Install]
WantedBy=multi-user.target
